.login-main-div-container {
  margin-top: 50px !important;
  // max-width: 50%;
  margin: auto;
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
  // background-image: url("../../../public/images/arcmen-admin-login-background.avif");
}
.login-frm{
  width: 60%;
  margin: auto;
}
.login-sec{
  background-image:url('https://res.cloudinary.com/dpflidsbg/image/upload/v1737619770/arcmen/about/login-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;

}
.login-cont {
  padding-top:80px;
  img{
    width:50%;
    padding-left:70px;
  }
  h2{
  padding-left:70px;
  }
}
@media (max-width: 991px) {
  .login-main-div-container {
    max-width: 100%;
    padding: 15px 30px;
  }
  .login-image-container{
    display: none !important;
  }
  .login-frm{
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .login-main-div-container {
    max-width: 100%;
    padding: 15px 30px;
  }
  .login-image-container{
    display: none !important;
  }
  .login-frm{
    width: 90%;
    margin: auto;
  }
}

.login-page-option {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 25px 0;
  color: #202020;
}
.login-page-option::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgb(32, 32, 32, 0.5);
  margin-right: 10px;
}
.login-page-option::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgb(32, 32, 32, 0.5);
  margin-left: 10px;
}

@media only screen and (max-width: 1540px) {
  .login-page-option {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.login-page-option-oauth-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
}
.login-page-option-oauth-facebook,
.login-page-option-oauth-google {
  width: 45%;
  border-radius: 30px;
  height: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  transition: background 0.3s linear 0s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  a{
    transition: color 0.3s linear 0s;
    color: black;
  }
}

.login-page-option-oauth-facebook:hover,
.login-page-option-oauth-google:hover {
//   background: #9EC8B9;
  background: #394541;
  color: #fff;
  a{
    color: white;
  }
}


.login-page-forgotpassword{
    cursor: pointer;
    margin-left: 10px;
    color: red;
}

.login-page-registration:hover,.login-page-forgotpassword:hover{
    color: blue;
}