/* ecoglass */

.ecoglass-banner {
    background-image: url(https://res.cloudinary.com/dpflidsbg/image/upload/v1735214039/arcmen/eco-glass-modular-kitchen/eco-glass-modular-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}

.ecoglass-banner h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.ecoglass-banner p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.ecoglass-banner h2 {
    font-size: 20px !important;
    color: #fff !important;
    font-weight: 700 !important;
    /* margin-bottom: 20px !important; */
    text-align: start !important;
}

.ecoglass-card .card {
    padding: 10px 10px 10px 10px;
    border-style: none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px #D5D0D0;
    margin: 20px 0px;
}

.ecoglass-card .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ecoglass-card .card h2 {
    color: #131d3b !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    text-align: center !important;
}

.ecoglass-textcard{
margin: 10px 0px;
}

.ecoglass-textcard .box-1 {
    background: #4DBC15;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.ecoglass-textcard .box-2 {
    background: #E5E5E5;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

/*  */
.wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageEdit {
    position: relative;
    width: 100%;
    margin: 12px 0px;
    overflow: hidden;
}

.imageIMG {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.imageEdit:hover img {
    -webkit-transform: scale(1.08) !important;
    transform: scale(1.08) !important;
}

.imageEdit img {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}


.contentEdit {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.imageEdit:hover .contentEdit {
    opacity: 1;
}

.contentEdit .h1ImageTitle {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

/* .contentEdit>* {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.contentEdit:hover>* {
    transform: translateY(0px);
} */